In [1]:
import pandas as pd
from transformers import pipeline
from tqdm import tqdm

/opt/conda/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
2024-03-07 08:33:43.715987: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-03-07 08:33:43.775086: I tensorflow/core/util/util.cc:169] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-03-07 08:33:43.790850: E tensorflow/stream_executor/cuda/cuda_blas.cc:2981] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-03-07 08:33:44.036323: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2024-03-07 08:33:44.036354: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2024-03-07 08:33:44.036369: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

資料前處理

In [2]:
df = pd.read_csv('./tsla_merged.csv')
df

             Date                                            Content
0      2020-12-31  Tesla short sellers lost billions more on the ...
1      2020-12-31  Enphase joins Tesla as the latest clean tech f...
2      2020-12-29  In 2021, the breadth of the competitive attack...
3      2020-12-29  In 2021, the breadth of the competitive attack...
4      2020-12-28  In 2021, the breadth of the competitive attack...
...           ...                                                ...
12907  2015-02-13  Apple has assigned 100s of staffers to an elec...
12908  2015-01-28  Apple, Microsoft and Tesla shops are helping h...
12909  2015-01-17  Elon Musk says Tesla won't be profitable until...
12910  2015-01-14  Elon Musk says Tesla won't be profitable until...
12911  2015-01-12  Elon Musk is pushing hard to sell 500,000 Tesl...

[12912 rows x 2 columns]

In [3]:
# DataFrame 名稱為 df，並且包含名為 'Content' 的欄位
# 移除 'https' 後的所有文字
df['Content'] = df['Content'].str.replace(r'https.*$', '', regex=True)

# 輸出修改後的 DataFrame
print(df['Content'][12000])

Musk's Tesla 'master plan' big on vision, short on details

In [4]:
# df.to_csv('tsla_merged_final.csv', index=False) 已轉好

載入final 資料

In [4]:
df = pd.read_csv('./tsla_merged_final.csv')
df

             Date                                            Content
0      2020-12-31  Tesla short sellers lost billions more on the ...
1      2020-12-31  Enphase joins Tesla as the latest clean tech f...
2      2020-12-29  In 2021, the breadth of the competitive attack...
3      2020-12-29  In 2021, the breadth of the competitive attack...
4      2020-12-28  In 2021, the breadth of the competitive attack...
...           ...                                                ...
12907  2015-02-13  Apple has assigned 100s of staffers to an elec...
12908  2015-01-28  Apple, Microsoft and Tesla shops are helping h...
12909  2015-01-17  Elon Musk says Tesla won't be profitable until...
12910  2015-01-14  Elon Musk says Tesla won't be profitable until...
12911  2015-01-12  Elon Musk is pushing hard to sell 500,000 Tesl...

[12912 rows x 2 columns]

In [5]:
new_df = df.drop_duplicates() # 刪除重複的資料
new_df

             Date                                            Content
0      2020-12-31  Tesla short sellers lost billions more on the ...
1      2020-12-31  Enphase joins Tesla as the latest clean tech f...
2      2020-12-29  In 2021, the breadth of the competitive attack...
4      2020-12-28  In 2021, the breadth of the competitive attack...
5      2020-12-25  Elon Musk says it’s “impossible” to take Tesla...
...           ...                                                ...
12907  2015-02-13  Apple has assigned 100s of staffers to an elec...
12908  2015-01-28  Apple, Microsoft and Tesla shops are helping h...
12909  2015-01-17  Elon Musk says Tesla won't be profitable until...
12910  2015-01-14  Elon Musk says Tesla won't be profitable until...
12911  2015-01-12  Elon Musk is pushing hard to sell 500,000 Tesl...

[11149 rows x 2 columns]

In [8]:
# 看一下nan的資料
# 使用 pd.isna() 或 pd.isnull() 標識 NaN 值
nan_rows = new_df[new_df['Content'].isna()]

# 輸出包含 NaN 值的資料
print(nan_rows)

# 建立新的欄位
new_df['label'] = ''
new_df['score'] = ''
new_df

Empty DataFrame
Columns: [Date, Content]
Index: []

/tmp/ipykernel_882321/262827917.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['label'] = ''
/tmp/ipykernel_882321/262827917.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['score'] = ''

,Date,Content,label,score
0,2020-12-31,Tesla short sellers lost billions more on the ...,,
1,2020-12-31,Enphase joins Tesla as the latest clean tech f...,,
2,2020-12-29,"In 2021, the breadth of the competitive attack...",,
4,2020-12-28,"In 2021, the breadth of the competitive attack...",,
5,2020-12-25,Elon Musk says it’s “impossible” to take Tesla...,,
...,...,...,...,...
12907,2015-02-13,Apple has assigned 100s of staffers to an elec...,,
12908,2015-01-28,"Apple, Microsoft and Tesla shops are helping h...",,
12909,2015-01-17,Elon Musk says Tesla won't be profitable until...,,
12910,2015-01-14,Elon Musk says Tesla won't be profitable until...,,
12911,2015-01-12,"Elon Musk is pushing hard to sell 500,000 Tesl...",,

In [9]:
new_df.to_csv('tsla_merged_res.csv', index=False)

In [10]:
new_df = pd.read_csv('./tsla_merged_res.csv')
new_df

,Date,Content,label,score
0,2020-12-31,Tesla short sellers lost billions more on the ...,NaN,NaN
1,2020-12-31,Enphase joins Tesla as the latest clean tech f...,NaN,NaN
2,2020-12-29,"In 2021, the breadth of the competitive attack...",NaN,NaN
3,2020-12-28,"In 2021, the breadth of the competitive attack...",NaN,NaN
4,2020-12-25,Elon Musk says it’s “impossible” to take Tesla...,NaN,NaN
...,...,...,...,...
11144,2015-02-13,Apple has assigned 100s of staffers to an elec...,NaN,NaN
11145,2015-01-28,"Apple, Microsoft and Tesla shops are helping h...",NaN,NaN
11146,2015-01-17,Elon Musk says Tesla won't be profitable until...,NaN,NaN
11147,2015-01-14,Elon Musk says Tesla won't be profitable until...,NaN,NaN
11148,2015-01-12,"Elon Musk is pushing hard to sell 500,000 Tesl...",NaN,NaN

In [11]:
# 導入pretrianed model
disroberta = pipeline("text-classification", model="mrm8488/distilroberta-finetuned-financial-news-sentiment-analysis")

In [12]:
i=0
for line in tqdm(new_df['Content'], total=len(new_df)):
    if isinstance(line, str):
        res = disroberta(line)
        new_df.loc[i, 'label'] = res[0]['label']
        new_df.loc[i, 'score'] = res[0]['score']
    else:
        print(f"Ignoring invalid data: {line}")
    i += 1
    
print("predict done")

  0%|          | 0/11149 [00:00<?, ?it/s]/tmp/ipykernel_882321/4271686135.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'negative' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  new_df.loc[i, 'label'] = res[0]['label']
100%|██████████| 11149/11149 [01:39<00:00, 112.55it/s]

predict done

In [13]:
print(new_df.head(20))

          Date                                            Content     label  \
0   2020-12-31  Tesla short sellers lost billions more on the ...  negative
1   2020-12-31  Enphase joins Tesla as the latest clean tech f...   neutral
2   2020-12-29  In 2021, the breadth of the competitive attack...  positive
3   2020-12-28  In 2021, the breadth of the competitive attack...  positive
4   2020-12-25  Elon Musk says it’s “impossible” to take Tesla...   neutral
5   2020-12-25  Elon Musk has made millionaires out of Tesla's...   neutral
6   2020-12-25  Elon Musk says he tried to approach Apple year...   neutral
7   2020-12-23  Elon Musk says he tried to approach Apple year...   neutral
8   2020-12-22  Elon Musk says he once tried to sell Tesla to ...   neutral
9   2020-12-22  Elon Musk says he tried to approach Apple year...   neutral
10  2020-12-22  Apple’s reported foray into making its own sel...   neutral
11  2020-12-21  It didn’t take long for Tesla’s big price swin...  positive
12  2020-12-21  Fueled by the Tesla effect, convertible bonds ...  positive
13  2020-12-21  Tesla shares fall 5% after being added to the ...  negative
14  2020-12-21  Tesla shares tumble in their trading debut on ...  negative
15  2020-12-20  Elon Musk inquires about converting “large tra...   neutral
16  2020-12-20  In a tumultuous year for stocks, few stories h...   neutral
17  2020-12-19  In a tumultuous year for stocks, few stories h...   neutral
18  2020-12-19  This 32-year-old put everything he had in Tesl...   neutral
19  2020-12-19  Tesla’s historic entry into the S&amp;P 500 co...  negative

       score
0   0.998547
1   0.999871
2   0.980603
3   0.980603
4   0.994511
5   0.582099
6   0.999782
7   0.999782
8   0.999848
9   0.999782
10  0.878129
11  0.801771
12  0.999215
13  0.998069
14  0.997918
15  0.999868
16  0.512001
17  0.512001
18  0.983539
19  0.996606

In [14]:
new_df.to_csv('tsla_merged_res.csv', index=False)

測試用

In [29]:
print(type(res))

<class 'list'>

In [38]:
# a=0
# for i,line in new_df:
#     print(i,line)
#     a+=1
#     if a>5:
#         break

In [31]:
# 假設你的列表為 data_list
data_list = [{'label': 'negative', 'score': 0.9985470175743103}]

# 使用 DataFrame 构造函数將列表轉換為 DataFrame
test = pd.DataFrame(data_list)
test

      label     score
0  negative  0.998547

In [28]:
df['label'] = ''
df['score'] = ''
# 假設你的列表為 data_list==res
data_list = [{'label': 'negative', 'score': 0.9985470175743103}]

# 使用 DataFrame 將列表轉換為 DataFrame
result = pd.DataFrame(data_list)

# 打印原始 DataFrame
# print("原始 DataFrame:")
# print(df)

# 使用 apply 方法將 'label' 和 'score' 的值分別存入 'label' 和 'score' 欄位
df.loc[1, 'label_1'] = data_list[0]['label']
df.loc[3, 'score_1'] = data_list[0]['score']


# 打印修改後的 DataFrame
print("\n修改後的 DataFrame:")
print(df.head())

修改後的 DataFrame:
         Date                                            Content label score  \
0  2020-12-31  Tesla short sellers lost billions more on the ...
1  2020-12-31  Enphase joins Tesla as the latest clean tech f...
2  2020-12-29  In 2021, the breadth of the competitive attack...
3  2020-12-29  In 2021, the breadth of the competitive attack...
4  2020-12-28  In 2021, the breadth of the competitive attack...

    label_1   score_1
0       NaN       NaN
1  negative       NaN
2       NaN       NaN
3       NaN  0.998547
4  negative  0.998547