In [1]:
import os
import pandas as pd
from utils import find_csv

In [4]:
f = "data/news_title_sentimentscore.csv"

df = pd.read_csv(f)
df.rename(columns = {"News_Headline": "Date"}, inplace = True)
df.head()

         Date  Positive  Negative   Neutral Prediction
0  2020-12-31  0.000794  0.998949  0.000257   Negative
1  2020-12-31  0.000421  0.000207  0.999372    Neutral
2  2020-12-29  0.999180  0.000609  0.000211   Positive
3  2020-12-29  0.999180  0.000609  0.000211   Positive
4  2020-12-28  0.999180  0.000609  0.000211   Positive

In [5]:
df['Date'] = pd.to_datetime(df['Date'])

        Date  Positive  Negative   Neutral Prediction
0 2020-12-31  0.000794  0.998949  0.000257   Negative
1 2020-12-31  0.000421  0.000207  0.999372    Neutral
2 2020-12-29  0.999180  0.000609  0.000211   Positive
3 2020-12-29  0.999180  0.000609  0.000211   Positive
4 2020-12-28  0.999180  0.000609  0.000211   Positive

In [12]:
path = "/Users/shenchingfeng/GitHub/GDSC-ai-stock/News_History"

df = find_csv(path).drop_duplicates()

In [14]:
df.drop_duplicates(inplace = True)
df["Date"] = pd.to_datetime(df["Date"])
df.sort_values("Date", ascending = False)

           Date                                         News Title
0    2024-04-19                   CNBC Inside India: Musk and Modi
1    2024-04-19  Stocks making the biggest moves midday: Duolin...
12   2024-04-18  Longtime Tesla bull downgrades Tesla, calls fo...
22   2024-04-18  Beware of these stocks at risk of a major earn...
21   2024-04-18       Barclays cuts Tesla price target, here’s why
...         ...                                                ...
4599 2010-01-30  Electric Sportscar Maker Tesla Plans Public Of...
4560 2008-10-17  Tesla Says It Will Lay Off Employees and Delay...
4585 2008-10-16  Tesla Stalls--Layoffs And CEO Change Coming (U...
4631 2008-05-31                               Get Ready for Tesla!
4584 2008-05-31                           Tesla Motors Quick Facts

[8000 rows x 2 columns]

In [16]:
df.sort_values("Date", ascending = False).to_csv(f"{path}/News_Titile.csv", index = False)