In [2]:
import os
import pandas as pd
from utils import find_csv

In [4]:
f = "data/news_title_sentimentscore.csv"

df = pd.read_csv(f)
df.rename(columns = {"News_Headline": "Date"}, inplace = True)
df.head()

         Date  Positive  Negative   Neutral Prediction
0  2020-12-31  0.000794  0.998949  0.000257   Negative
1  2020-12-31  0.000421  0.000207  0.999372    Neutral
2  2020-12-29  0.999180  0.000609  0.000211   Positive
3  2020-12-29  0.999180  0.000609  0.000211   Positive
4  2020-12-28  0.999180  0.000609  0.000211   Positive

In [5]:
df['Date'] = pd.to_datetime(df['Date'])

        Date  Positive  Negative   Neutral Prediction
0 2020-12-31  0.000794  0.998949  0.000257   Negative
1 2020-12-31  0.000421  0.000207  0.999372    Neutral
2 2020-12-29  0.999180  0.000609  0.000211   Positive
3 2020-12-29  0.999180  0.000609  0.000211   Positive
4 2020-12-28  0.999180  0.000609  0.000211   Positive

In [27]:
path = "/Users/shenchingfeng/GitHub/GDSC-ai-stock/News_History"

df = find_csv(path)
df.drop(columns = ["Unnamed: 0"], inplace = True)
df.sort_values("Date", ascending = False, inplace = True)
df.drop_duplicates(inplace = True, keep = "last")

In [33]:
df.head(40)

            Date                                         News Title
812   2024-04-21  At least 5 companies under Elon Musk’s control...
402   2024-04-21  Earnings playbook: Your guide to trading a hug...
828   2024-04-21  Analyst whose downgrade is hitting Tesla says ...
1051  2024-04-21  Tesla recalls Cybertruck over ‘trapped pedal’ ...
1043  2024-04-21  Longtime Tesla bull hits panic button on robo-...
1033  2024-04-21  Tesla is laying off 285 employees in Buffalo, ...
1050  2024-04-21  Cramer’s week ahead: Earnings from Tesla, Merc...
1049  2024-04-21  Tesla Plunges To 52-Week Low With One Big Ques...
1048  2024-04-21  Longtime Tesla bull downgrades Tesla, calls fo...
1047  2024-04-21  Tesla cuts prices nearly $2,000 in China, in l...
1046  2024-04-21  Tesla's Stock Price Just Plunged. Is Now the T...
1045  2024-04-21  UPDATE 2-Tesla cuts prices nearly $2,000 in Ch...
1044  2024-04-21  Tesla cuts US prices for 3 of its electric veh...
1042  2024-04-21  Tesla cuts prices nearly $2,000 in China, in l...
1053  2024-04-21  Tesla cuts U.S. prices of Models Y, X, S by $2...
1041  2024-04-21  Tesla cuts price of Full Self-Driving software...
1040  2024-04-21  UPDATE 1-Tesla cuts price of Full Self-Driving...
1039  2024-04-21  Dow Jones Futures: Market Awaits Huge Earnings...
1038  2024-04-21  Big Fund Doubles Down on Palantir Stock, Sells...
1037  2024-04-21  Tesla spends weekend cutting prices of cars an...
1036  2024-04-21  Tesla Will Lose Its Crown to Toyota If This Ha...
1035  2024-04-21  Tesla Slashes EV, FSD Prices In Latest Strateg...
1032  2024-04-21  Tesla asks shareholders to vote again on Musk’...
1052  2024-04-21  Tesla’s Elon Musk postpones India trip, aims t...
1034  2024-04-21  Kia EV9 review: The full-size EV SUV that Amer...
1054  2024-04-21  Shelving Model 2 for Robotaxi could be a gambl...
1056  2024-04-21  Tesla Cuts Prices Again. It’s a Sign of Weaken...
1057  2024-04-21  REFILE-After VW plant victory, UAW sets its si...
1058  2024-04-21          Should You Buy Tesla Stock Before Aug. 8?
1059  2024-04-21  Magnificent Seven Stocks: Nvidia Stock Dives B...
1055  2024-04-21  Wall Street faces make-or-break week with Tesl...
1060  2024-04-20  If you’re investing in the AI theme for the lo...
403   2024-04-20  6 portfolio stock earnings and the Fed’s favor...
404   2024-04-20  Tesla’s Elon Musk postpones India trip, aims t...
408   2024-04-20  A troubling trend is brewing this earnings sea...
409   2024-04-20  Goldman Sachs is strong, Netflix raises questi...
405   2024-04-20  Cramer’s week ahead: Earnings from Tesla, Merc...
406   2024-04-20  Investors are hoping Big Tech earnings next we...
407   2024-04-20                  Informe CNBC: viernes 19 de abril
415   2024-04-19  Inside the world of flying cars, or eVTOLs, wh...

In [34]:
df.sort_values("Date", ascending = False).to_csv(f"{path}/News_Titile.csv", index = False)