In [1]:
import pandas as pd

/opt/conda/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

Loading data

In [2]:
df = pd.read_csv('./tweets_raw/TSLA_20100629_20210602_business_t_Tesla_en.csv')
df

            Date                                            Content
0     2021-06-01  Electric-vehicle makers and suppliers, includi...
1     2021-05-29  Delivery for Tesla Inc.’s Model S Plaid will b...
2     2021-05-28  Tesla is facing further fallout in China, with...
3     2021-05-28  Cathie Wood's ARKK is way off its peak as bold...
4     2021-05-28  Tesla’s Model 3 sedan was stripped of its cove...
...          ...                                                ...
5093  2011-07-20  Tesla wins $100 million Toyota supply deal | h...
5094  2011-05-25  Tesla CEO: No interest in selling electric car...
5095  2010-12-27  Tesla Declines Most Since July After Lock-Up E...
5096  2010-07-06  #Tesla Shares Fall Below Electric-Car Maker's ...
5097  2010-06-29  #Tesla Motors Raises $226 Million in First IPO...

[5098 rows x 2 columns]

In [3]:
df= df.dropna()
df=df.drop_duplicates()
df

            Date                                            Content
0     2021-06-01  Electric-vehicle makers and suppliers, includi...
1     2021-05-29  Delivery for Tesla Inc.’s Model S Plaid will b...
2     2021-05-28  Tesla is facing further fallout in China, with...
3     2021-05-28  Cathie Wood's ARKK is way off its peak as bold...
4     2021-05-28  Tesla’s Model 3 sedan was stripped of its cove...
...          ...                                                ...
5093  2011-07-20  Tesla wins $100 million Toyota supply deal | h...
5094  2011-05-25  Tesla CEO: No interest in selling electric car...
5095  2010-12-27  Tesla Declines Most Since July After Lock-Up E...
5096  2010-07-06  #Tesla Shares Fall Below Electric-Car Maker's ...
5097  2010-06-29  #Tesla Motors Raises $226 Million in First IPO...

[5098 rows x 2 columns]

In [4]:
# 篩選出特定欄位
specified_words = ['2015','2016','2017','2018','2019','2020']

# 使用 str.contains() 方法篩選包含特定字的欄位
# filtered_df = df[df['Date'].str.contains(specified_word, case=False, na=False)]
filtered_df1 = df[df['Date'].str.contains('|'.join(specified_words), case=False, na=False)]


# 輸出篩選後的DataFrame
print(filtered_df1)

            Date                                            Content
364   2020-12-31  Tesla short sellers lost billions more on the ...
365   2020-12-31  Enphase joins Tesla as the latest clean tech f...
366   2020-12-29  In 2021, the breadth of the competitive attack...
367   2020-12-29  In 2021, the breadth of the competitive attack...
368   2020-12-28  In 2021, the breadth of the competitive attack...
...          ...                                                ...
4886  2015-02-06  Tesla is going Apple picking http://t.co/nYvq8...
4887  2015-02-06  Why Tesla is going after Apple employees http:...
4888  2015-02-06  Tesla has hired more workers from Apple than f...
4889  2015-01-14  Tesla shares fell the most since September thi...
4890  2015-01-12  Introducing the $30K Tesla-killer: the Chevrol...

[4527 rows x 2 columns]

In [6]:
filtered_df1.to_csv('tsla_merged.csv', index=False)

讀取其他csv的資料，然後轉成df

In [7]:
df = pd.read_csv('./tweets_raw/TSLA_20100629_20210602_CNBC_t_Tesla_en.csv')
df = df.dropna()
df =df.drop_duplicates()
df

            Date                                            Content
0     2021-06-01  New for subscribers: JPMorgan says buy puts in...
1     2021-06-01  China Tesla rival Nio sees deliveries fall in ...
2     2021-05-29  How Tesla is quietly expanding its energy stor...
3     2021-05-29  Tesla gave the Shanghai Media Group an inside ...
4     2021-05-28  Tesla starts using cabin cameras to make sure ...
...          ...                                                ...
4708  2013-02-11  Tesla CEO @elonmusk on CNBC: The @nytimes' rep...
4709  2013-02-11  Elon Musk joins @CNBCClosingBell now to discus...
4710  2012-02-15  Tesla Motors Reports Q4 Loss of $0.69  $TSLA h...
4711  2012-01-13  Tesla Motors Shares Plunge as VP of Vehicle De...
4712  2011-08-03  Tesla Loss Widens; Zipcar Raises 2011 Outlook\...

[4711 rows x 2 columns]

In [8]:
specified_words = ['2015','2016','2017','2018','2019','2020']
filtered_df2 = df[df['Date'].str.contains('|'.join(specified_words), case=False, na=False)]
print(filtered_df2)

            Date                                            Content
427   2020-12-31  Stocks making the biggest moves midday: Tesla,...
428   2020-12-31  Stocks making the biggest moves premarket: Exx...
429   2020-12-28  The first all-electric Hummer is here, and it'...
430   2020-12-27  Wells Fargo's top predictions for 2021 include...
431   2020-12-27  Michael Farr says Tesla is too risky a bet for...
...          ...                                                ...
4586  2015-01-31  These people were shocked when the driver put ...
4587  2015-01-29  This is what happens when you put a Tesla in '...
4588  2015-01-28  Tesla has a button called "Insane Mode," which...
4589  2015-01-23  Why you may want to buy shares of Tesla now » ...
4590  2015-01-22  You may want to buy shares of Tesla now, says ...

[4162 rows x 2 columns]

In [9]:
filtered_df2.to_csv('tsla_merged.csv',index=False, mode='a', header=False) # 把dataset2合併到1

In [10]:
df = pd.read_csv('./tweets_raw/TSLA_20100629_20210602_Reuters_t_Tesla_en.csv')
df = df.dropna()
df = df.drop_duplicates()
df

            Date                                            Content
0     2021-06-01  The price of Tesla cars is increasing because ...
1     2021-06-01  SEC letters claim Tesla failed to oversee Musk...
2     2021-06-01  Tesla is increasing prices of its cars due to ...
3     2021-06-01  Tesla is increasing prices of its cars as the ...
4     2021-06-01  The price of Tesla vehicles is increasing due ...
...          ...                                                ...
4057  2015-01-14  Tesla CEO says China sales weak, promises Mode...
4058  2015-01-13  Tesla CEO says China sales weak, promises Mode...
4059  2014-07-31  Tesla posts $61.9 million loss as second-quart...
4060  2013-01-29  Tesla CEO extends help to Boeing on battery is...
4061  2010-06-29  Carmaker Tesla's stock zooms 40 percent on fir...

[4062 rows x 2 columns]

In [11]:
filtered_df3 = df[df['Date'].str.contains('|'.join(specified_words), case=False, na=False)]
print(filtered_df3)

            Date                                            Content
656   2020-12-29  China's Yahua agrees five-year deal to supply ...
657   2020-12-29  China's Yahua agrees five-year deal to supply ...
658   2020-12-28  Tesla to start operations in India next year -...
659   2020-12-28  Tesla to start operations in India next year -...
660   2020-12-28  ICYMI: The Tesla Model 3 taxi, which hit New Y...
...          ...                                                ...
4054  2015-08-13  Tesla seeks to raise about $500 million throug...
4055  2015-08-10  Tesla burns cash, loses more than $4,000 on ev...
4056  2015-08-09  Insight: Tesla burns cash, loses more than $4,...
4057  2015-01-14  Tesla CEO says China sales weak, promises Mode...
4058  2015-01-13  Tesla CEO says China sales weak, promises Mode...

[3403 rows x 2 columns]

In [12]:
filtered_df3.to_csv('tsla_merged.csv',index=False, mode='a', header=False) # 把dataset3合併到1

In [13]:
df = pd.read_csv('./tweets_raw/TSLA_20100629_20210602_WSJ_t_Tesla_en.csv')
df = df.dropna()
df = df.drop_duplicates()
df

           Date                                            Content
0    2021-06-01  Tesla failed to oversee Elon Musk's tweets in ...
1    2021-06-01  Who was the highest and lowest paid CEO last y...
2    2021-06-01  See the WSJ’s annual ranking of CEO pay. Compa...
3    2021-05-26  Tesla said all data generated from cars it sol...
4    2021-05-25  Driverless startups like Waymo, Cruise and Aur...
..          ...                                                ...
982  2013-05-10  Is Tesla Model S the best car ever? Consumer R...
983  2013-04-03  The new leasing plan for Tesla's Model S inclu...
984  2012-07-07  Tesla's new Model S is no eat-your-broccoli al...
985  2010-11-12  Tesla, maker of electric sports cars, expects ...
986  2010-07-02  Tesla shot up 57% after its IPO this week, the...

[987 rows x 2 columns]

In [14]:
filtered_df4 = df[df['Date'].str.contains('|'.join(specified_words), case=False, na=False)]
print(filtered_df4)

           Date                                            Content
129  2020-12-31  Tesla went public in 2010 with an IPO price of...
130  2020-12-28  “Spend less time in conference rooms, less tim...
131  2020-12-26  Tesla went public in 2010 with an IPO price of...
132  2020-12-26  Elon Musk said he approached Apple's Tim Cook ...
133  2020-12-25  Elon Musk said he approached Apple's Tim Cook ...
..          ...                                                ...
944  2015-02-13  Apple has assigned 100s of staffers to an elec...
945  2015-01-28  Apple, Microsoft and Tesla shops are helping h...
946  2015-01-17  Elon Musk says Tesla won't be profitable until...
947  2015-01-14  Elon Musk says Tesla won't be profitable until...
948  2015-01-12  Elon Musk is pushing hard to sell 500,000 Tesl...

[820 rows x 2 columns]

In [15]:
filtered_df4.to_csv('tsla_merged.csv',index=False, mode='a', header=False) # 把dataset4合併到1

In [ ]:
df.drop_duplicates(subset = ['text'], keep = 'last', inplace = True)
df['text'] = df['text'].replace(' ', '')
df = df[(df['text'] != '') & (df['text'].notnull())]
print(len(df))

In [22]:
# 合併1&2
# 假設 df1 和 df2 是你要合併的兩個 DataFrame
# 假設你要依照某個共同的欄位進行合併，例如 '共同欄位'
merged_df = pd.merge(filtered_df1, filtered_df2, on='Date', how='inner')

# 如果你要根據索引合併，可以使用 left_index=True 和 right_index=True
# merged_df = pd.merge(df1, df2, left_index=True, right_index=True, how='inner')

# 輸出合併後的 DataFrame
print(merged_df)

             Date                                          Content_x  \
0      2020-12-31  Tesla short sellers lost billions more on the ...
1      2020-12-31  Tesla short sellers lost billions more on the ...
2      2020-12-31  Enphase joins Tesla as the latest clean tech f...
3      2020-12-31  Enphase joins Tesla as the latest clean tech f...
4      2020-12-28  In 2021, the breadth of the competitive attack...
...           ...                                                ...
18076  2015-02-11  EARNINGS: Tesla falls short, posts quarterly l...
18077  2015-02-10  Fiat Chrysler's stock is now outperforming Tes...
18078  2015-02-10  Fiat Chrysler's stock is now outperforming Tes...
18079  2015-02-10  Fiat Chrysler's stock is now outperforming Tes...
18080  2015-02-09  Tesla's secret weapon: Former Apple employees ...

                                               Content_y
0      Stocks making the biggest moves midday: Tesla,...
1      Stocks making the biggest moves premarket: Exx...
2      Stocks making the biggest moves midday: Tesla,...
3      Stocks making the biggest moves premarket: Exx...
4      The first all-electric Hummer is here, and it'...
...                                                  ...
18076  Tesla CEO Elon Musk is threatening to fire exe...
18077  Why Tesla CEO Elon Musk is threatening firings...
18078  Tesla CEO Elon Musk is threatening to fire exe...
18079  4 reasons to be cautious into Tesla earnings: ...
18080  4 reasons to be cautious into Tesla earnings »...

[18081 rows x 3 columns]