In [2]:
import pandas as pd
from transformers import pipeline
from tqdm import tqdm

/opt/anaconda3/envs/stock/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
dft = pd.read_csv('20182020.csv')#twitter的
dft

     original_text                                            summary
0              NaN  Elon Musk, J.B. Straubel, Deepak Ahuja and Dou...
1              NaN  The vast majority of the Tesla production syst...
2              NaN  We've added cost. We'veadded a manufacturing s...
3              NaN  In the third quarter, it will -- I think there...
4              NaN  Elon R. Musk: I think a 5-day, 2-shift operati...
..             ...                                                ...
344            NaN  Your next question comes from Pierre Ferragu w...
345            NaN  Zachary Kirkhorn - Tesla, Inc. - CFOYes. I mea...
346            NaN  Elon R. Musk - Tesla, Inc. - Founder, CEO & Di...
347            NaN  Elon R. Musk - Tesla, Inc. - Founder, CEO & Di...
348            NaN  Elon R. Musk - Tesla, Inc. - Founder, CEO & Di...

[349 rows x 2 columns]

In [9]:
new_dft = dft.drop_duplicates()
new_dft['label'] = ''
new_dft['score'] = ''
new_dft

,original_text,summary,label,score
0,NaN,"Elon Musk, J.B. Straubel, Deepak Ahuja and Dou...",,
1,NaN,The vast majority of the Tesla production syst...,,
2,NaN,We've added cost. We'veadded a manufacturing s...,,
3,NaN,"In the third quarter, it will -- I think there...",,
4,NaN,"Elon R. Musk: I think a 5-day, 2-shift operati...",,
...,...,...,...,...
344,NaN,Your next question comes from Pierre Ferragu w...,,
345,NaN,"Zachary Kirkhorn - Tesla, Inc. - CFOYes. I mea...",,
346,NaN,"Elon R. Musk - Tesla, Inc. - Founder, CEO & Di...",,
347,NaN,"Elon R. Musk - Tesla, Inc. - Founder, CEO & Di...",,
348,NaN,"Elon R. Musk - Tesla, Inc. - Founder, CEO & Di...",,

In [10]:
new_dft.to_csv('twitter.csv', index=False)

In [54]:
new_dft = pd.read_csv('twitter.csv')
new_dft

,Unnamed: 0,summary,label,score
0,0,"Elon Musk, J.B. Straubel, Deepak Ahuja and Dou...",neutral,0.547312
1,1,The vast majority of the Tesla production syst...,negative,0.582673
2,2,We've added cost. We'veadded a manufacturing s...,neutral,0.566878
3,3,"In the third quarter, it will -- I think there...",positive,0.878674
4,4,"Elon R. Musk: I think a 5-day, 2-shift operati...",neutral,0.568415
...,...,...,...,...
344,344,Your next question comes from Pierre Ferragu w...,neutral,0.870525
345,345,"Zachary Kirkhorn - Tesla, Inc. - CFOYes. I mea...",positive,0.870579
346,346,"Elon R. Musk - Tesla, Inc. - Founder, CEO & Di...",neutral,0.796123
347,347,"Elon R. Musk - Tesla, Inc. - Founder, CEO & Di...",positive,0.657266
348,348,"Elon R. Musk - Tesla, Inc. - Founder, CEO & Di...",positive,0.760418

In [12]:
mt = pipeline("text-classification", model="cardiffnlp/twitter-roberta-base-sentiment-latest")

Some weights of the model checkpoint at cardiffnlp/twitter-roberta-base-sentiment-latest were not used when initializing RobertaForSequenceClassification: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
- This IS expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [13]:
i=0
for line in tqdm(new_dft['summary'], total=len(new_dft)):
    if isinstance(line, str):
        res = mt(line)
        new_dft.loc[i, 'label'] = res[0]['label']
        new_dft.loc[i, 'score'] = res[0]['score']
    else:
        print(f"Ignoring invalid data: {line}")
    i += 1
    
print("done")

  0%|          | 0/349 [00:00<?, ?it/s]/var/folders/7w/846qc9yj1yl9_3gczch751xm0000gn/T/ipykernel_97536/2338863554.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'neutral' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  new_dft.loc[i, 'label'] = res[0]['label']
100%|██████████| 349/349 [02:15<00:00,  2.58it/s]

done

In [29]:
dfd = pd.read_csv('20182020.csv')#distilbert的
dfd

     original_text                                            summary
0              NaN  Elon Musk, J.B. Straubel, Deepak Ahuja and Dou...
1              NaN  The vast majority of the Tesla production syst...
2              NaN  We've added cost. We'veadded a manufacturing s...
3              NaN  In the third quarter, it will -- I think there...
4              NaN  Elon R. Musk: I think a 5-day, 2-shift operati...
..             ...                                                ...
344            NaN  Your next question comes from Pierre Ferragu w...
345            NaN  Zachary Kirkhorn - Tesla, Inc. - CFOYes. I mea...
346            NaN  Elon R. Musk - Tesla, Inc. - Founder, CEO & Di...
347            NaN  Elon R. Musk - Tesla, Inc. - Founder, CEO & Di...
348            NaN  Elon R. Musk - Tesla, Inc. - Founder, CEO & Di...

[349 rows x 2 columns]

In [30]:
new_dfd = dfd.drop_duplicates()
new_dfd['label'] = ''
new_dfd['score'] = ''
new_dfd

,original_text,summary,label,score
0,NaN,"Elon Musk, J.B. Straubel, Deepak Ahuja and Dou...",,
1,NaN,The vast majority of the Tesla production syst...,,
2,NaN,We've added cost. We'veadded a manufacturing s...,,
3,NaN,"In the third quarter, it will -- I think there...",,
4,NaN,"Elon R. Musk: I think a 5-day, 2-shift operati...",,
...,...,...,...,...
344,NaN,Your next question comes from Pierre Ferragu w...,,
345,NaN,"Zachary Kirkhorn - Tesla, Inc. - CFOYes. I mea...",,
346,NaN,"Elon R. Musk - Tesla, Inc. - Founder, CEO & Di...",,
347,NaN,"Elon R. Musk - Tesla, Inc. - Founder, CEO & Di...",,
348,NaN,"Elon R. Musk - Tesla, Inc. - Founder, CEO & Di...",,

In [31]:
new_dfd.to_csv('distilbert.csv', index=False)

In [49]:
new_dfd = pd.read_csv('distilbert.csv')
new_dfd

,Unnamed: 0,summary,label,score
0,0,"Elon Musk, J.B. Straubel, Deepak Ahuja and Dou...",positive,0.765201
1,1,The vast majority of the Tesla production syst...,negative,0.765059
2,2,We've added cost. We'veadded a manufacturing s...,positive,0.635821
3,3,"In the third quarter, it will -- I think there...",positive,0.697074
4,4,"Elon R. Musk: I think a 5-day, 2-shift operati...",negative,0.698246
...,...,...,...,...
344,344,Your next question comes from Pierre Ferragu w...,neutual,0.773718
345,345,"Zachary Kirkhorn - Tesla, Inc. - CFOYes. I mea...",positive,0.809214
346,346,"Elon R. Musk - Tesla, Inc. - Founder, CEO & Di...",neutual,0.705739
347,347,"Elon R. Musk - Tesla, Inc. - Founder, CEO & Di...",neutual,0.459538
348,348,"Elon R. Musk - Tesla, Inc. - Founder, CEO & Di...",positive,0.687168

In [33]:
md = pipeline("text-classification", model="austinmw/distilbert-base-uncased-finetuned-tweets-sentiment")

In [50]:
i=0
for line in tqdm(new_dfd['summary'], total=len(new_dfd)):
    if isinstance(line, str):
        res = md(line)
        new_dfd.loc[i, 'label'] = res[0]['label']
        new_dfd.loc[i, 'score'] = res[0]['score']
    else:
        print(f"Ignoring invalid data: {line}")
    i += 1
    
print("done")

100%|██████████| 349/349 [00:52<00:00,  6.65it/s]

done

In [56]:
print(new_dft.head(20))

    Unnamed: 0                                            summary     label  \
0            0  Elon Musk, J.B. Straubel, Deepak Ahuja and Dou...   neutral
1            1  The vast majority of the Tesla production syst...  negative
2            2  We've added cost. We'veadded a manufacturing s...   neutral
3            3  In the third quarter, it will -- I think there...  positive
4            4  Elon R. Musk: I think a 5-day, 2-shift operati...   neutral
5            5  The takt -- the number you're referring to is ...   neutral
6            6  Elon Musk: You can't just have it be operating...   neutral
7            7  Elon Musk: If you have a really complicated ma...   neutral
8            8  Deepak Ahuja: Every data point suggests that w...   neutral
9            9  Elon R. Musk: There's lots of interesting thin...  positive
10          10  Elon R. Musk: I feel very confident about our ...  positive
11          11  Elon R. Musk: The production -- a really great...  positive
12          12  Deepak AhujaChief Financial OfficerThe answer ...   neutral
13          13  The Tesla -- the actual design of the Tesla ha...   neutral
14          14  Elon R. Musk: We're only talking about a 3% to...   neutral
15          15  There is still room for 14us to reduce it furt...   neutral
16          16  We're going to go to YouTube, sorry. These que...  negative
17          17  Elon R. Musk: The launch involve -- where thin...  positive
18          18  The hardest thing to predict about the timing ...  negative
19          19  Elon R. Musk: The Reuters report is based on n...  negative

       score
0   0.547312
1   0.582673
2   0.566878
3   0.878674
4   0.568415
5   0.889985
6   0.482811
7   0.545321
8   0.617368
9   0.503016
10  0.859388
11  0.484070
12  0.781169
13  0.825120
14  0.785022
15  0.846419
16  0.546254
17  0.517431
18  0.681878
19  0.536229

In [52]:
replace_dict = {
    'LABEL_2': 'positive',
    'LABEL_1': 'neutral',
    'LABEL_0': 'negative'
}
new_dfd['label'] = new_dfd['label'].replace(replace_dict)

print(new_dfd.head(40))

    Unnamed: 0                                            summary     label  \
0            0  Elon Musk, J.B. Straubel, Deepak Ahuja and Dou...  positive
1            1  The vast majority of the Tesla production syst...  negative
2            2  We've added cost. We'veadded a manufacturing s...  positive
3            3  In the third quarter, it will -- I think there...  positive
4            4  Elon R. Musk: I think a 5-day, 2-shift operati...  negative
5            5  The takt -- the number you're referring to is ...   neutral
6            6  Elon Musk: You can't just have it be operating...  negative
7            7  Elon Musk: If you have a really complicated ma...  negative
8            8  Deepak Ahuja: Every data point suggests that w...   neutral
9            9  Elon R. Musk: There's lots of interesting thin...   neutral
10          10  Elon R. Musk: I feel very confident about our ...  positive
11          11  Elon R. Musk: The production -- a really great...  negative
12          12  Deepak AhujaChief Financial OfficerThe answer ...  positive
13          13  The Tesla -- the actual design of the Tesla ha...   neutral
14          14  Elon R. Musk: We're only talking about a 3% to...   neutral
15          15  There is still room for 14us to reduce it furt...  negative
16          16  We're going to go to YouTube, sorry. These que...  negative
17          17  Elon R. Musk: The launch involve -- where thin...  positive
18          18  The hardest thing to predict about the timing ...  negative
19          19  Elon R. Musk: The Reuters report is based on n...  negative
20          20  Elon R. Musk: It doesn't require some dramatic...   neutral
21          21  J.B. Straubel: We could designcells in the pac...   neutral
22          22  Elon R. Musk: We're happy to support other aut...  negative
23          23  Elon R. Musk: If our innovation is, let's say,...   neutral
24          24  Elon R. Musk: For trucking companies, like if ...  negative
25          25  The battery's able to respond at the milliseco...  positive
26          26  Elon Musk: We haven't really tried to sell the...  positive
27          27  Elon R. Musk: I'm not sure of the exact time, ...   neutral
28          28  Elon R. Musk: We do see a steady increase in t...  negative
29          29  Elon Musk: When there is a serious accident, i...   neutral
30          30  Elon R. Musk: I completely understand your fru...  negative
31          31  I think that if people are concerned about vol...  negative
32          32  Elon R. Musk: I think it will probably increas...  positive
33          33  Elon Musk, J.B. Straubel, Deepak Ahuja and a n...   neutral
34          34  Elon R. Musk - Tesla, Inc. - Co-Founder, CEO, ...  positive
35          35  The Mobile Servicefleet is something we can sc...  positive
36          36  3/4 of the Model Y is common with the Model 3,...   neutral
37          37  The demand for Model Y will be maybe 50% highe...  positive
38          38  The second question would be, how are you feel...   neutral
39          39  Elon R. Musk - Tesla, Inc. - Co-Founder, CEO, ...  positive

       score
0   0.765201
1   0.765059
2   0.635821
3   0.697074
4   0.698246
5   0.656086
6   0.506841
7   0.724803
8   0.491280
9   0.466704
10  0.511779
11  0.530102
12  0.578901
13  0.719342
14  0.560658
15  0.848343
16  0.825875
17  0.463029
18  0.828761
19  0.619441
20  0.532010
21  0.531462
22  0.479354
23  0.608326
24  0.855806
25  0.719404
26  0.849367
27  0.672290
28  0.635872
29  0.518612
30  0.894159
31  0.560925
32  0.515210
33  0.884946
34  0.616626
35  0.701456
36  0.432288
37  0.571050
38  0.548333
39  0.419539

In [57]:
new_dft.to_csv('twitter.csv', index=False)
new_dfd.to_csv('distilbert.csv', index=False)