In [1]:
import pandas as pd

In [2]:
# read pretrained1 result
df1 = pd.read_csv('2020_sentiment(distilbert).csv')
df1.rename(columns={"Unnamed: 0": "Index"}, inplace=True) # DataFrame 的原始內容將被更改
df1

,original_text,summary,negative,neutral,positive
0,NaN,"Elon R. Musk - Tesla, Inc. - Co-Founder, CEO &...",0.007180,0.020383,0.972436
1,NaN,Tesla's fourth consecutive proﬁtable quarter. ...,0.065646,0.255754,0.678600
2,NaN,California to do Model S and X for worldwide c...,0.021308,0.101954,0.876738
3,NaN,"We've already started work on the facility, so...",0.031379,0.152705,0.815915
4,NaN,"On net income, overall, as Elon mentioned, we ...",0.394099,0.465443,0.140458
...,...,...,...,...,...
136,NaN,"Elon R. Musk - Tesla, Inc. - Co-Founder, CEO &...",0.431798,0.436969,0.131233
137,NaN,Tesla is like -- we're probably -- I mean we m...,0.249898,0.522947,0.227154
138,NaN,I'm just wondering if there's an opportunity w...,0.227040,0.541650,0.231310
139,NaN,"Elon R. Musk - Tesla, Inc. - Co-Founder, CEO &...",0.036321,0.296551,0.667128
140,NaN,"Elon R. Musk - Tesla, Inc. - Co-Founder, CEO &...",0.298413,0.353644,0.347943

In [4]:
# read pretrained2 result
df2 = pd.read_csv('2020_sentiment(twitter).csv')
df2.rename(columns={"Unnamed: 0": "Index"}, inplace=True) # DataFrame 的原始內容將被更改
df2

,original_text,summary,negative,neutral,positive
0,NaN,"Elon R. Musk - Tesla, Inc. - Co-Founder, CEO &...",0.002941,0.060926,0.936133
1,NaN,Tesla's fourth consecutive proﬁtable quarter. ...,0.012103,0.164952,0.822945
2,NaN,California to do Model S and X for worldwide c...,0.007137,0.249535,0.743328
3,NaN,"We've already started work on the facility, so...",0.011393,0.365309,0.623299
4,NaN,"On net income, overall, as Elon mentioned, we ...",0.032092,0.453326,0.514581
...,...,...,...,...,...
136,NaN,"Elon R. Musk - Tesla, Inc. - Co-Founder, CEO &...",0.034421,0.726865,0.238714
137,NaN,Tesla is like -- we're probably -- I mean we m...,0.197263,0.710020,0.092717
138,NaN,I'm just wondering if there's an opportunity w...,0.021194,0.759244,0.219562
139,NaN,"Elon R. Musk - Tesla, Inc. - Co-Founder, CEO &...",0.008376,0.535163,0.456461
140,NaN,"Elon R. Musk - Tesla, Inc. - Co-Founder, CEO &...",0.153529,0.516173,0.330298

In [8]:
# 設定空的列表來儲存比較結果
comparison_data = []

# t=0
# 迴圈逐行比較兩個DataFrame
for index, row in df1.iterrows():
    # if t>10:
    #     break
    #date = row['Date']
    summary = row['summary']
    negative = row['negative']
    neutral = row['neutral']
    positive = row['positive']
    
    
    # 找到與df1相同index的資料
    df2_row = df2[df2['Index'] == index]
    
    if not df2_row.empty:
        label_file2 = df2_row['label'].iloc[0]
        score_file2 = df2_row['score'].iloc[0]
        
        if label_file1 == label_file2: # label 相同
            scorefinal = 0.5 * (score_file1 + score_file2)
            # print(score1, score2, scorefinal)
            
            # 將比較結果新增至comparison_data
            comparison_data.append({'Date': date,
                                    'Content': content,
                                    'label': label_file1,
                                    'final_score': scorefinal})
        # t+=1
    else:
        continue

# 將比較結果轉換為DataFrame
comparison_df = pd.DataFrame(comparison_data)

# 印出比較結果
print(comparison_df)

KeyError: 'Index'

In [8]:
comparison_df.to_csv('tsla_dataset.csv', index=False)